<lmdh>
	<config>
		<frequency>0.10</frequency>
		<beep>all</beep>
	</config>
	<command name="cmd">
		<steps>
			<step>E</step>
			<step>REG</step>
			<step>E</step>
			<step>A</step>
		</steps>
		<exec program="C:\Windows\System32\cmd.exe">
		</exec>
	</command>
	<command name="deliveryFolder">
		<steps>
			<step>FV</step>
			<step>A</step>
			<step>RS</step>
		</steps>
		<exec program="explorer.exe">
			<argument value="D:\Documents\Dev\py\LeapMotion\LeapMotionHandDetector\service"/>
		</exec>
	</command>
	<command name="league">
		<steps>
			<step>FIST</step>
			<step>C</step>
			<step>E</step>
		</steps>
		<exec program="C:\Riot Games\League of Legends\LeagueClient.exe">
		</exec>
	</command>
	<command name="sleep">
		<steps>
			<step>REG</step>
			<step>FIST</step>
			<step>REG</step>
			<step>FIST</step>
		</steps>
		<exec program="rundll32.exe">
			<argument value="powrprof.dll,SetSuspendState"/>
			<argument value="0,1,0"/>
		</exec>
	</command>
	<command name="drive">
		<steps>
			<step>KH</step>
			<step>C</step>
			<step>FIST</step>
		</steps>
		<exec program="C:\Program Files (x86)\Google\Chrome\Application\chrome.exe">
			<argument value="https://drive.google.com/drive/u/0/my-drive?ths=true"/>
		</exec>
	</command>
	<command name="chrome">
		<steps>
			<step>KH</step>
			<step>C</step>
			<step>RS</step>
		</steps>
		<exec program="C:\Program Files (x86)\Google\Chrome\Application\chrome.exe">
			<argument value="https://www.google.com/"/>
		</exec>
	</command>
	<command name="chrome">
		<steps>
			<step>KH</step>
			<step>C</step>
			<step>FV</step>
		</steps>
		<exec program="C:\Program Files (x86)\Google\Chrome\Application\chrome.exe">
			<argument value="-incognito"/>
		</exec>
	</command>
	<command name="LeftArrow">
		<!-- http://social.technet.microsoft.com/wiki/contents/articles/5169.vbscript-sendkeys-method.aspx -->
		<steps>
			<step>FP</step>
			<step>PT</step>
		</steps>
		<exec program="tools\sendKeys.bat">
			<argument value=""/>
			<argument value="{LEFT}"/>
		</exec>
	</command>
	<command name="RightArrow">
		<!-- http://social.technet.microsoft.com/wiki/contents/articles/5169.vbscript-sendkeys-method.aspx -->
		<steps>
			<step>FP</step>
			<step>PP</step>
		</steps>
		<exec program="tools\sendKeys.bat">
			<argument value=""/>
			<argument value="{RIGHT}"/>
		</exec>
	</command>
</lmdh>